@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@layer base {
    [x-cloak] {
    display: none !important;
    }

    *:focus-visible {
        @apply outline-none ring-primary ring-2;
    }
}

@theme {
    /* Fonts */
    --font-mono: "RobotoMono", ui-monospace, monospace;

    /* Colors */
    --color-blue: #264653;
    --color-turqoise: #2a9d8f;
    --color-yellow: #e9c46a;
    --color-primary: #2b3e7c;
    --color-red: #e76f51;

    /* Box Shadows */
    --shadow-primary: 6px 6px 0px 0px #f4a261;

    /* Background Images */
    --background-image-circuit: url('/resources/patterns/circuit-board.svg');
    --background-image-zigzag: url('/resources/patterns/zig-zag.svg');
    --background-image-hideout: url('/resources/patterns/hideout.svg');

    /* Complex SVGs should be quoted carefully */
    --background-image-grid: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z' stroke-width='1.5' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}